body {
    font-family: 'Arial', sans-serif;
    background-color: #475186;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#app {
    text-align: center;
    background-color: #aea7a7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #356484;
}

.input-container {
    margin-top: 20px;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

label {
    font-size: 16px;
    color: #555;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    flex: 1;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #3498db;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #487797;
}

.task-lists {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.tasks-container {
    flex: 1;
    background-color: #c6ced0;
    padding: 15px;
    border-radius: 8px;
}

h3 {
    margin-top: 0;
    color: #576e85;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #3caac6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

li:hover {
    background-color: #3a7bb1;
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
        align-items: center;
    }

    input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .task-lists {
        flex-direction: column;
    }

    .tasks-container {
        margin-top: 20px;
    }
}